.friend-list {
  width: 250px;
  margin: 0 auto;
}

.avatar {
  width: 60px;
  height: auto;
}
.friend-list {
  list-style: none;
}
.friend-list > .item {
  display: flex;
  width: 250px;
  padding: 10px 0;
  margin-top: 10px;
  background-color: azure;
  border-radius: 8px;
  -webkit-box-shadow: 16px 16px 15px -14px rgba(66, 68, 90, 1);
  -moz-box-shadow: 16px 16px 15px -14px rgba(66, 68, 90, 1);
  box-shadow: 16px 16px 15px -14px rgba(66, 68, 90, 1);
  align-items: center;
}
