.transaction-history {
  margin: 50px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

tr {
  display: flex;
  border: 1px solid black;
}

th {
  background-color: rgb(176, 143, 206);
}
td,
th {
  width: 150px;
  display: flex;
  padding: 10px;
}
